<!--Presence of layout.erb in views/ guarantees the wrapping of everything with this -->
<html>
<head>
  <title>Gothons From Planet Percat #25</title>
</head>
<body>
<%= yield %> <!--Yield some controller to actual handlers -->
</body>
</html>
